.header {
  position: relative;
  background-image: url("./FB_pattern_nologo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 200px;
  max-width: 100%;
  padding: 40px;
}

.intro-text {
  height: auto;
  max-width: 100%;
  padding: 40px;
  background-color: #d1fed9;
}

.form-container {
  padding: 40px;
  height: auto;
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.score {
  display: flex;
  flex-wrap: wrap;
}

input {
  margin: 10px;
  cursor: default;
}

.radio {
  width: 100%;
}

label {
  margin-right: 20px;
}

button {
  align-content: flex-start;
  height: 50px;
  width: 150px;
  background: #fff;
  color: #000;
  margin: 20px 0 20px 0;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #000;
}

button:hover {
  text-decoration: underline;
}

.footer {
  padding: 40px;
  background-color: #000;
  color: #fff;
  height: auto;
  max-width: 100%;
}
.column-one {
  width: 100%;
}

.column-two {
  width: 100%;
  display: flex;
}

.logo {
  max-width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ig-logo img {
  height: 40px;
  width: 40px;
  margin: 5px 10px 0 0;
}

.fb-logo img {
  height: 40px;
  width: 40px;
  margin: 5px 5px 0 0;
}


@media (min-width: 480px) and (max-width: 768px) {
  .logo {
    max-width: 60%;
  }
  .footer {
    display: flex;
  }
  .column-one {
    max-width: 40%;
    padding: 40px 25px 25px 25px;
  }
  .column-two {
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 60%;
    padding: 40px 25px 25px 25px;
  }

  div p {
    font-size: 1em;
  }
  div p.bold {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    max-width: 50%;
  }

  .footer {
    display: flex;
    padding: 10%;
  }

  .column-one {
    max-width: 40%;
  }

  .column-two {
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 60%;
    margin-left: 30px;
  }

    .intro-text,
    .form-container {
      margin: auto;
      padding: 10%;
   }

  .score {
    flex-direction: row;
  }

  div p {
    font-size: 1.2em;
  }
  div p.bold {
    font-size: 1.2em;
  }

  button {
    width: 200px;
    height: 60px;
    margin: 10% 0 10% 0;
  }

  button p {
    font-size: 1.2em;
    margin: 0;
  }

  label {
    width: 30%;
    display: flex;
  }

  label p {
    margin: 0;
  }
}

@media (min-width: 1024px) and (max-width: 2000px) {

  .header {
    height: 300px;
  }
  .logo {
    max-width: 50%;
  }

  .footer {
    display: flex;
    padding: 10%;
  }

  .column-one {
    max-width: 40%;
  }

  .column-two {
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 60%;
    margin-left: 30px;
  }
    .intro-text,
    .form-container {
      margin: auto;
      padding: 10%;
   }

   div p {
     font-size: 1.7em;
   }

   div p.bold {
     font-size: 1.7em;
   }

   div h1 {
     font-size: 2em;
   }

   div h2 {
     font-size: 1.9em;
   }

   button p {
     font-size: 1.7em;
     margin: 0;
   }

  button {
    width: 300px;
    height: 60px;
    margin: 10% 0 10% 0;
  }

  label {
    width: 30%;
    display: flex;
  }

  label p {
    margin: 0;
  }
}
