html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Libre Baskerville', serif;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 25px;
}

h2 {
  font-size: 21px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

.start a {
  background-color: #ff32f6;
  text-decoration: underline;
  color: #000;
}

.bold {
  font-size: 16px;
  font-weight: 700;
}

.yellow {
  text-decoration-color: #fefe55;
}
.pink {

}

button {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  font-weight: 400;
}
